---
layout: 'base.njk'
title: 'Digital Decluttering Worksheet'
description: ''
eleventyExcludeFromCollections: true
---
<div class="page wrapper wrapper--narrow">
  <h1 class="page__title">Thank you!</h1>
  <div class="text-center flow">
    <p>
      <strong>We've sent the checklist to your inbox.</strong>
    </p>
    <p>Check your spam folder if you don't see it in a couple of minutes.</p>
    <div>
      <a class="btn btn-outline" href="/blog/">Back to the blog</a>
    </div>
  </div>
</div>