---
layout: 'base.njk'
---
<div class="content container-sm">
  <article>
    <h1>{{ title }}</h1>
    {# <p>by {{ author }} on {{ date | postDate }}</p> #}
    {{ content | safe }}

  </article>

  <div class="well author-bio">
    <div class="author-bio__img">
      <img src="/assets/ben-profile-2.jpg" alt="author photo - ben pages">
    </div>
    <p>
      <strong>Written by Ben Pages:</strong> Ben is a marketer, tech enthusiast, and minimalist. An advocate for self growth, he is on a mission to inspire others to simplify their lives, develop personal freedom, and maximize their potential.</p>
  </div>

  <section class="read-next">
    <h3>Read next</h3>
    <ul class="list-style-none">
      {%- set relatedPosts = collections.post | excludeFromCollection(page.url) -%}
      {%- for post in relatedPosts | reverse -%}
        {% if loop.index0 < 3 %}
          {% include 'article-snippet.njk' %}
          {% endif%}
        {%- endfor -%}
      </ul>
    </section>
  </div>