---
layout: 'base.njk'
---
<div class="wrapper wrapper--narrow">
  <article class="article flow">
    <h1 class="article__title">{{ title }}</h1>
    <p class="article__meta">
      {% if lastUpdated %}
        Updated {{ lastUpdated | postDate }}
      {% else %}
        Published {{ date | postDate }}
      {% endif %}
    </p>
    {{ content | safe }}

    <div class="author-bio">
      <img class="author-bio__img" src="/assets/ben-pages-profile.jpg" alt="author photo - ben pages">
      <p>
        <strong>~ Ben</strong>
      </br>
        ✉️ <a href="/">Get my newsletter</a>
      <br/>
        ☕️ <a href="https://buymeacoffee.com/whatifididnt" rel="noopener noreferrer nofollow" target="_blank">Buy me a coffee</a>
    </p>
  </div>
</article>

<section class="read-next">
  <h3>Read next</h3>
  <ul class="list-style-none">
    {%- set relatedPosts = collections.post | excludeFromCollection(page.url) -%}
    {%- for post in relatedPosts | reverse -%}
      {% if loop.index0 < 3 %}
        {% include 'article-snippet.njk' %}
        {% endif%}
      {%- endfor -%}
    </ul>
  </section>
</div>