---
layout: 'base.njk'
---
<div class="content container-sm">
  <article>
    <h1>{{ title }}</h1>
    <p>by {{ author }} on {{ date | postDate }}</p>
    {{ content | safe }}

  </article>

  <section class="read-next">
    <h3>Read next</h3>
    <ul class="list-style-none">
      {%- set relatedPosts = collections.post | excludeFromCollection(page.url) -%}
      {%- for post in relatedPosts | reverse -%}
        {% if loop.index0 < 3 %}
          {% include 'article-snippet.njk' %}
          {% endif%}
        {%- endfor -%}
      </ul>
    </section>
  </div>