<footer class="footer">
	<div class="container-lg">
		<div class="pre-footer">
			<a href="/privacy-policy">Privacy Policy</a>
		</div>
		<div class="copyright">Ben Pages · © {% year %}
		</div>
	</div>
</footer>