<footer class="footer">
  <div class="footer-content wrapper">
    <div class="flow footer-column">
      <div class="logo">{{ site.name }}</div>
    </div>
    <div class="flow footer-column">
      <h4>Helpful links</h4>
      <ul class="list-style-none">
        {% for page in collections.all %}
          {% if page.url != "/blog/" and page
            .url
            .indexOf('/blog/') == -1 %}
            <li>
              <a href="{{ page.url }}">{{ page.data.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="flow footer-column">
      <h4>Newsletter</h4>
      <p>Enter your name and email address to join the newsletter. You'll receive new posts, exclusive content, and much more.</p>
      <form class="footer__form inline-form" name="newsletter" method="POST" data-netlify="true" action="/thank-you/">
        <input id="email" type="email" name="email" placeholder="Your email" required/>
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>
<div class="copyright">{{ site.name }} · © {% year %}
</div>
</footer>