<header class="header">
  <div class="wrapper header__wrapper">
    <a href="/" class="header__logo">
      Logo
    </a>
    <button class="nav-toggle" aria-controls="nav" aria-expanded="false">
      <span class="visually-hidden">Menu</span>
      <img class="icon-hamburger" src="/assets/icon-hamburger.svg" aria-hiiden="true" alt="">
      <img class="icon-close" src="/assets/icon-close.svg" aria-hiiden="true" alt="">
    </button>
    <nav role="navigation" class="nav" id="nav">
      <ul class="nav__list">
        <li>
          <a href="/blog/" class="nav__link">All posts</a>
        </li>
        <li>
          <a href="/about/" class="nav__link">About</a>
        </li>
        <li>
          <a href="/contact/" class="nav__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>