<header class="wrapper">
  <nav class="primary-nav">
    <div class="nav-header">
      <div class="brand">
        <a href="/">
          <p class="logo">{{ site.name }}</p>
          <p class="tagline small-print">Site tagline</p>
        </a>
      </div>
      <button class="nav-toggle" aria-controls="nav-list" aria-expanded="false">
        <i class="hamburger-menu">
          <span class="sr-only">Menu</span>
          <span></span>
        </i>
      </button>
    </div>
    <ul class="nav-list list-style-none">
      <li class="nav-link">
        <a href="/services/">Services</a>
      </li>
      <li class="nav-link">
        <a href="/blog/">Blog</a>
      </li>
      <li class="nav-link">
        <a href="/about">About</a>
      </li>
      <li class="nav-link">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>