<header>

  <p class="site-brand">
    <a class="site-title" href="/">whatifididnt</a>
  </p>

  <input type="checkbox" class="nav-toggle" id="nav-toggle">

  <nav class="nav">
    <ul class="nav__menu">
      <li class="nav__item">
        <a href="/blog">all posts</a>
      </li>
      <li class="nav__item">
        <a href="/about">about</a>
      </li>
      <li class="nav__item">
        <a href="/contact">contact</a>
      </li>
    </ul>
  </nav>

  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>

</header>