<article class="hero">
  <h2>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </h2>
  <small>{{ post.date | postDate }}</small>
  <p>{{ post.data.description }}</p>
  <a href="{{ post.url }}">Read ></a>
</article>