<div class="container-sm newsletter-signup">
  <h2 class="section-title">Newsletter</h2>
  <p>Enter your name and email address to join the newsletter. You'll receive
  new posts, exclusive content, and much more.</p>
  <form name="newsletter" method="POST" data-netlify="true">
    <p>
      <input id="name" type="text" name="name" placeholder="Your name"/>
    </p>
    <p>
      <input id="email" type="email" name="email" placeholder="Your email"/>
    </p>
    <p>
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </p>
  </form>
</div>