<div
	id="sidebar"
	class="d-md-flex flex-column flex-shrink-0 p-3 bg-light"
	style="width: 280px"
>
	<a
		href="/"
		class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
	>
		<svg class="bi me-2" width="40" height="32">
			<use xlink:href="#bootstrap" />
		</svg>
		<span class="fs-4">Sidebar</span>
	</a>
	<hr />

	<div class="widget">
		<img
			src="https://benpages.com/images/ben-profile.jpeg"
			alt="author"
			class="widget__img img-circle"
		/>
		<h3 class="widget__title">Welcome!</h3>
		<p class="widget__text">
			This blog is centered around one of my favorite coaching questions of all
			time. This question forces us to unlearn what we know and challenge the
			"normal" to create a reality where one is truly happy.
		</p>
	</div>
	<hr />
	<div class="widget">
		<h3 class="widget__title">Sign Up</h3>
		<p class="widget__text">
			Enter your name and email address to join the newsletter. You'll receive
			new posts, exclusive content, and much more.
		</p>
		<form name="newsletter" method="POST" data-netlify="true">
			<p>
				<label for="name" class="form-label">Your Name:</label>
				<input id="name" class="form-control" type="text" name="name" />
			</p>
			<p>
				<label for="email" class="form-label">Your Email:</label>
				<input id="email" class="form-control" type="email" name="email" />
			</p>
			<p>
				<button type="submit" class="btn btn-outline-secondary">Sign Up</button>
			</p>
		</form>
	</div>
</div>