:root {
	--fs-300: clamp(0.9rem, 0.9748rem + -0.1863vi, 0.9375rem);
	--fs-400: clamp(1.125rem, 1.125rem + 0vi, 1.125rem);
	--fs-500: clamp(1.35rem, 1.2941rem + 0.2795vi, 1.4063rem);
	--fs-600: clamp(1.62rem, 1.483rem + 0.6848vi, 1.7578rem);
	--fs-700: clamp(1.944rem, 1.6923rem + 1.2585vi, 2.1973rem);
	--fs-800: clamp(2.3328rem, 1.9216rem + 2.0561vi, 2.7466rem);
	--fs-900: clamp(2.7994rem, 2.1694rem + 3.1497vi, 3.4332rem);

	--ff-body: system-ui, sans-serif;
	--ff-heading: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
		Consolas, 'DejaVu Sans Mono', monospace;

	--clr-text: #050315;
	--clr-background: #ffffff;
	--clr-primary: #bf7160;
	--clr-secondary: #f7fafc;
	--clr-accent: #39c7d3;
}

/* @media (prefers-color-scheme: dark) {
	:root {
	}
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

/* html {
	color-scheme: light dark;
} */

img {
	display: block;
	max-width: 100%;
}

body {
	font-size: var(--fs-400);
	font-family: var(--ff-body);
	line-height: 1.65;
	color: var(--clr-text);
}

h1,
h2,
h3,
h4 {
	font-family: var(--ff-heading);
	line-height: 1.2;
	text-transform: lowercase;
}

h1 {
	font-size: var(--fs-900);
}

h2 {
	font-size: var(--fs-800);
}

h3 {
	font-size: var(--fs-700);
}

h4 {
	font-size: var(--fs-600);
}

a {
	color: var(--clr-primary);
	text-decoration: none;
}

a:hover,
a:focus {
	color: var(--clr-accent);
}

button,
input {
	font-family: var(--ff-heading);
	text-transform: lowercase;
}

.wrapper {
	width: min(100% - 3em, 1176px);
	margin-inline: auto;
}

.flow > * + * {
	margin-top: 1em;
}

/* Components */

input,
textarea {
	padding: 0.75em 1.25em;
	border-radius: 0.25em;
	border: 1px solid var(--clr-secondary);
}

textarea {
	aspect-ratio: 3/1;
	resize: none;
}

.inline-form {
	display: grid;
	gap: 1em;
}

.btn {
	padding: 0.75em 1.25em;
	border-radius: 0.25em;
}

.btn-primary {
	color: white;
	background-color: var(--clr-primary);
	border: 1px solid var(--clr-primary);
}

.btn-outline {
	background-color: transparent;
	border: 1px solid var(--clr-primary);
	color: var(--clr-primary);
}

/* Utilities */

.list-style-none {
	list-style: none;
	padding: 0;
}

.subtext {
	font-size: var(--fs-300);
}

/* Individual styles */

section {
	padding-block: 3em;
}

section.hero {
	background-color: var(--clr-accent);
}

.hero__title {
	color: white;
}

.hero__lead {
	font-size: var(--fs-500);
	font-family: var(--ff-heading);
	text-transform: lowercase;
}

.article-snippet {
	display: grid;
	gap: 0.5em;
	margin-top: 1.5em;
}
