:root {
	--fs-300: clamp(0.844rem, 0.9255rem + -0.1274vi, 0.9rem);
	--fs-400: clamp(1.125rem, 1.125rem + 0vi, 1.125rem);
	--fs-500: clamp(1.4063rem, 1.3638rem + 0.2122vi, 1.4996rem);
	--fs-600: clamp(1.7578rem, 1.6482rem + 0.5482vi, 1.999rem);
	--fs-700: clamp(2.1973rem, 1.9848rem + 1.0623vi, 2.6647rem);
	--fs-800: clamp(2.7466rem, 2.3805rem + 1.8305vi, 3.552rem);
	--fs-900: clamp(3.4332rem, 2.8416rem + 2.9582vi, 4.7348rem);

	--ff-body: system-ui, sans-serif;
	--ff-heading: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
		Consolas, 'DejaVu Sans Mono', monospace;

	--clr-text: #050315;
	--clr-background: #ffffff;
	--clr-primary: #bf7160;
	--clr-primary--hover: #9f5545;
	--clr-secondary: #dae8f1;
	--clr-tertiary: #f7fafc;
	--clr-accent: #39c7d3;
}

/* @media (prefers-color-scheme: dark) {
	:root {
	}
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

/* html {
	color-scheme: light dark;
} */

img {
	display: block;
	max-width: 100%;
}

body {
	font-size: var(--fs-400);
	font-family: var(--ff-body);
	line-height: 1.65;
	color: var(--clr-text);
	text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
	font-family: var(--ff-heading);
	line-height: 1.2;
	text-transform: lowercase;
	margin: 0;
}

h1 {
	font-size: var(--fs-900);
}

h2 {
	font-size: var(--fs-800);
}

h3 {
	font-size: var(--fs-700);
}

h4 {
	font-size: var(--fs-600);
}

a {
	color: var(--clr-primary);
	text-decoration: none;
	transition: all 0.3s ease;
}

a:hover,
a:focus {
	color: var(--clr-primary--hover);
}

a.btn:hover,
a.btn:focus {
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.figure-caption {
	font-size: var(--fs-300);
	text-align: center;
	margin-top: 0.5em;
}

button,
input {
	font-family: var(--ff-heading);
	text-transform: lowercase;
}

.wrapper {
	width: min(100% - 3em, 1100px);
	margin-inline: auto;
}

.wrapper--narrow {
	width: min(100% - 3em, 60ch);
}

.flow > * + * {
	margin-top: 1em;
}

/* Utilities */

.img-fw {
	width: calc(60ch * 1.05);
	max-width: calc(100vw - 2em);
	margin-left: 50%;
	transform: translateX(-50%);
}

.list-style-none {
	list-style: none;
	padding: 0;
}

.subtext {
	font-size: var(--fs-300);
}

.visually-hidden {
	position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

/* Components */

input,
textarea {
	padding: 0.75em 1.25em;
	border-radius: 0.25em;
	border: 1px solid var(--clr-secondary);
}

textarea {
	aspect-ratio: 3/1;
	resize: none;
}

.inline-form {
	display: grid;
	gap: 1em;
}

.btn {
	cursor: pointer;
	display: inline-block;
	padding: 0.75em 1.25em;
	border-radius: 0.25em;
}

.btn-primary {
	color: white;
	background-color: var(--clr-primary);
	border: 1px solid var(--clr-primary);
}

.btn-outline {
	background-color: transparent;
	border: 1px solid var(--clr-primary);
	color: var(--clr-primary);
}

/* Footer */

.header {
	position: static;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.nav-toggle {
	display: none;
	z-index: 2;
}

.nav-toggle .icon-close {
	display: none;
}

.header__logo {
	z-index: 2;
}

.header__logo svg {
	max-width: 200px;
	height: auto;
}

.nav__list {
	list-style: none;
	padding-left: 0;
	font-family: var(--ff-heading);
	text-transform: lowercase;
	display: flex;
	gap: 1.5em;
}

.nav__link {
	color: var(--clr-text);
	transition: color 0.3s ease;
}

.nav__link:hover,
.nav__link:focus {
	color: var(--clr-primary);
}

.footer {
	background-color: var(--clr-tertiary);
	border-top: 1px solid var(--clr-secondary);
	text-transform: lowercase;
}

.footer__wrapper {
	padding-block: 3em;
}

.footer__posts,
.footer__newsletter {
	margin-top: 1em;
}

.copyright {
	font-size: var(--fs-300);
	text-align: center;
	padding: 1rem;
}

/* Individual styles */

section {
	padding-block: 3em;
}

section.hero {
	background-color: var(--clr-accent);
}

.hero__title {
	color: white;
	text-wrap: balance;
}

.hero__lead {
	font-size: var(--fs-500);
	font-family: var(--ff-heading);
	text-transform: lowercase;
}

.article-snippet {
	display: grid;
	gap: 0.5em;
	margin-top: 1.5em;
}

.article-snippet__title {
	font-size: var(--fs-600);
	font-weight: 400;
}

.article-snippet img {
	width: 100%;
}

.article img {
	border-radius: 5px;
}

.article__title {
	font-size: var(--fs-800);
	font-weight: 400;
	text-align: center;
}

.toc,
.well {
	padding: 2em;
	background-color: var(--clr-tertiary);
	border: 1px solid var(--clr-secondary);
	text-transform: lowercase;
	font-family: var(--ff-heading);
}

.toc__title {
	margin-bottom: 1rem;
}

.toc > ul {
	list-style: none;
	padding-left: 0;
}

img.author-bio__img {
	max-width: 125px;
	border-radius: 25em;
	margin: 0 auto;
	margin-bottom: 1em;
}

@media (min-width: 600px) {
	.author-bio {
		display: flex;
		gap: 2rem;
		align-items: center;
	}

	img.author-bio__img {
		margin-bottom: 0;
	}
}

@media (min-width: 750px) {
	section.hero {
		background-image: url(/assets/ben-transparent.png);
		background-repeat: no-repeat;
		background-size: auto 90%;
		background-position: bottom 0px right calc(50% - 300px);
	}
	.hero__content {
		max-width: 60%;
	}

	.inline-form {
		display: inline-block;
	}

	.article-snippet {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 600px) {
	.nav {
		display: none;
		position: fixed;
		inset: 0 0 auto;
		z-index: 1;
		padding: calc(3em + 4.5em) 1.5em 3em 1.5em;
		background-color: var(--clr-tertiary);
		border-bottom: 1px solid var(--clr-secondary);
	}

	.nav__list {
		flex-direction: column;
		align-items: center;
		font-weight: 500;
	}

	.nav[data-visible] {
		display: block;
	}

	.nav-toggle {
		display: block;
		cursor: pointer;
		background: transparent;
		border: none;
		padding: 0.5em;
	}
}
