/* General */

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

img {
	display: block;
	width: 100%;
}

section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.jumbotron {
	margin-top: -3rem;
}

/* Typography */

h1,
h2,
h3,
h4 {
	font-family: "Hind", sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 3.157rem;
}
h2 {
	font-size: 2.369rem;
}
h3 {
	font-size: 1.777rem;
}
h4 {
	font-size: 1.333rem;
}

a {
	color: #BF7160;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #D99E91;
}



/* Helpers */

ul[role="list"] {
	list-style: none;
	padding: 0;
}

.flex {
	display: flex;
}

/* Images  */
.img-circle {
	border-radius: 50%;
}

/* Navigation */

.site__title, .site__tagline {
	color: #0A0B0D;
	margin-bottom:0;
}

.site__title {
	font-size: 1.5rem;
}

.site__tagline {
	font-size: 1rem;
}

.site__brand {
	display: flex;
	align-items: center;
}

.site__logo{
	border-right: 1px solid #0A0B0D;
	padding-right:1rem;
	margin-right: 1rem;
}



/* Sidebar Layout

#sidebar {
  display: none;
}

@media (min-width: 768px) {
  #sidebar {
    margin-left: 1.5rem;
  }
  .main--sidebar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .main--sidebar main {
    width: 75%;
  }
 }

.widget__img {
	max-width: 60%;
	margin-bottom: 1.5rem;
} */

/* .recent-posts__list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
}

.recent-posts__list > li {
	flex: 1 1 0px;
	max-width: 30%;
} */

hr {
	background-color:#dee2e6;
	opacity: 1;
}

.btn-primary {
	background-color: #BF7160;
	border-color: #BF7160;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #D99E91;
	border-color: #D99E91;
	color: white;
}

.btn-outline-secondary {
	color: #BF7160;
	border-color: #BF7160;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
	color: white;
	background-color: #BF7160;
	border-color: #BF7160;
}

.newsletter-signup {
	background-color: #BF7160;
	color: white;
	border-radius: .25rem;
}