:root {
	/* Fonts */
	--ff-body: system-ui, sans-serif;
	--ff-heading: system-ui, sans-serif;
	/* Font sizes */
	--fs-200: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
	--fs-300: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
	--fs-400: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
	--fs-500: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
	--fs-600: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
	--fs-700: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
	--fs-800: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
	--fs-900: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
	/* Colors */
	--clr-text: #16140a;
	--clr-background: #fdfcf9;
	--clr-primary: #bfac4d;
	--clr-secondary: #dccf92;
	--clr-accent: #d3c168;
}
/* @media (prefers-color-scheme: dark) {
	:root {
		--clr-text: #f6f4ea;
		--clr-background: #080603;
		--clr-primary: #b09d40;
		--clr-secondary: #6c5e23;
		--clr-accent: #96842c;
	}
} */

/* CSS Reset by Josh Comeau
https://www.joshwcomeau.com/css/custom-css-reset/ */

/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Remove default margin */
* {
	margin: 0;
}
/* Set core root defaults */
html {
	/* color-scheme: light dark; */
	scroll-behavior: smooth;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
/* Typographic tweaks and accessible line-height. Improve text rendering */
body {
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	line-height: 1.5;
	color: var(--clr-text-400);
	overflow-x: hidden;
	/* Keeps footer at the bottom */
	height: 100%;
	display: flex;
	flex-direction: column;
}
/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/* Remove built-in form typography styles */
input,
button,
textarea,
select {
	font: inherit;
}
/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: var(--ff-heading);
	line-height: 1.2;
}
h1,
.h1 {
	font-size: var(--fs-900);
}
h2,
.h2 {
	font-size: var(--fs-800);
}
h3,
.h3 {
	font-size: var(--fs-700);
}
h4,
.h4 {
	font-size: var(--fs-600);
}
h5,
.h5 {
	font-size: var(--fs-500);
}
h6,
.h6 {
	font-size: var(--fs-400);
}
.small-print {
	font-size: var(--fs-300);
}

/* LAYOUT */

.wrapper {
	width: min(100% - 3em, 1100px);
	margin-inline: auto;
}
.content {
	padding-block: 4em;
}

/* UTILITIES */

.flow > * + * {
	margin-top: 1em;
}
.link-unstyled {
	color: inherit;
}
.list-style-none {
	list-style: none;
	padding: 0;
}
.text-center {
	text-align: center;
}
.sr-only {
	position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

/* COMPONENTS */

/* Links */
a {
	color: var(--clr-accent);
	text-decoration: none;
	transition: all 0.3s ease;
}
a:hover,
a:focus {
	opacity: 0.8;
}
.btn {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding: 0.5em 1.25em;
	border-radius: 0.25em;
	border: 1px solid transparent;
}
.btn-primary {
	color: var(--clr-background);
	background-color: var(--clr-primary);
}
.btn-secondary {
	color: var(--clr-background);
	background-color: var(--clr-primary);
}
.btn-outline {
	color: var(--clr-primary);
	background-color: transparent;
	border: 2px solid var(--clr-primary);
}
.btn-primary:hover,
.btn-secondary:hover,
.btn-outline:hover,
.btn-primary:focus,
.btn-secondary:focus,
.btn-outline:focus {
	opacity: 0.85;
}
/* Quotes */
blockquote {
	padding-left: 1.5em;
	font-style: italic;
}
/* Images */
figcaption {
	font-size: var(--fs-300);
	text-align: center;
	margin-top: 0.5em;
}
/* Forms */
input,
textarea {
	padding: 0.5em 1.25em;
	border-radius: 0.25em;
	border: 1px solid transparent;
}
input,
textarea {
	border-color: var(--clr-primary);
	width: 100%;
}
textarea {
	aspect-ratio: 3/1;
	resize: none;
}
.inline-form {
	display: grid;
	gap: 0.5em;
}
/* Tables */
.table-container {
	overflow-x: auto;
}
.table {
	border: 1px solid var(--clr-primary);
	border-collapse: collapse;
	width: 100%;
	font-size: 16px;
}
.table caption,
.table th,
.table td {
	padding: 1rem;
}
.table th,
.table td {
	min-width: 15ch;
}
.table caption,
.table th {
	text-align: left;
}
caption {
	font-size: var(--fs-400);
	font-family: var(--ff-heading);
	font-weight: 700;
}
.table th {
	background-color: var(--clr-primary);
}
.table tr:nth-of-type(2n) {
	background: var(--clr-primary);
}

/* NAVIGATION */

/* Navigation */
.logo {
	text-transform: uppercase;
	font-weight: 800;
}
.tagline {
	color: var(--clr-accent);
}
.nav-header {
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: space-between;
	padding-block: 1em;
}
.nav-toggle {
	background-color: transparent;
	border-color: transparent;
	transition: var(--transition, ease-in-out 300ms);
}
.hamburger-menu {
	display: inline-block;
	width: 1.75em;
	height: 1.25em;
	position: relative;
}
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu span::before {
	content: '';
	display: block;
	background-color: var(--clr-accent);
	height: 4px;
	border-radius: 1em;
	width: 100%;
	position: absolute;
	left: 0;
}
.hamburger-menu::before {
	top: 0;
}
.hamburger-menu::after {
	bottom: 0;
}
.hamburger-menu span::before {
	top: 50%;
	transform: translateY(-50%);
}
.nav-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	height: 0;
	overflow: hidden;
	transition: var(--transition, ease-in-out 300ms);
}
.show-nav-list {
	height: 100vh;
	padding-top: 4.5em;
}
/* Footer */
.footer {
	margin-top: auto;
	padding-block: 1em;
	border-top: 1px solid var(--clr-accent);
}
.footer-content {
	padding-block: 3em;
	display: grid;
	gap: 1em;
}
.copyright {
	font-size: var(--fs-300);
	text-align: center;
	padding: 1rem;
}

/* RESPONSIVE */

@media (min-width: 600px) {
	/* Navigation */
	.nav-toggle {
		display: none;
	}
	.nav-list {
		height: auto;
		flex-direction: row;
		padding-top: 0;
	}
	.tagline {
		display: inline;
	}
	.primary-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	/* Footer */
	.footer-content {
		display: flex;
		justify-content: space-between;
	}
	.footer-column {
		width: 300px;
	}
}
