/* Variables */

:root {
	--primary-color: #bf7160;
	--primary-color-rgb: 191, 113, 96;
}

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 18px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Typography */

body {
	font-family: "Open Sans", sans-serif;
	font-weight: false;
	line-height: 1.65;
}

p {
	font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Open Sans", sans-serif;
	font-weight: true;
	line-height: 1.15;
	margin-top: 1em;
	margin-bottom: 1em;
}

h1,
.h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: true;
	margin-top: 0;
	font-size: 2.49em;
}

h2,
.h2 {
	font-size: 2.07em;
}

h3,
.h3 {
	font-size: 1.73em;
}

h4,
.h4 {
	font-size: 1.44em;
}

h5,
.h5 {
	font-size: 1.2em;
}

figcaption {
	font-size: 0.83em;
}

small {
	font-size: 0.69em;
}

p,
ul,
ol {
	margin-bottom: 1rem;
}

ul,
ol {
	padding-left: 1rem;
}

/* Grid */

.container {
	/* 65 characters per line, including spaces and punctuation */
	max-width: 650px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}

/* Components */

.hero {
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url("http://localhost:8080/assets/blog/one-bag-travel.jpg");
	background-blend-mode: multiply;
	padding: 2em;
}

.hero p {
	color: white;
	font-weight: bold;
}

.hero small {
	color: white;
}

/* Helpers */

.list-style-none {
	list-style: none;
	padding-left: 0;
}

/* Buttons and links */

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover,
.btn:hover {
	cursor: pointer;
}

a:hover,
a:focus {
	color: rgba(var(--primary-color-rgb), 0.85);
}

.btn {
	padding: 0.5em 1em;
	border-radius: 0.125em;
}

.btn-primary {
	color: white;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: rgba(var(--primary-color-rgb), 0.85);
	border: 1px solid rgba(var(--primary-color-rgb), 0.85);
}
