---
layout: 'base.njk'
title: 'About - whatifididnt'
description: whatifididint explores digital detoxification & mindful living. Discover habits that will help you regain control of your attention & potential.
---

<div class="page-narrow">
  <h1>About</h1>

  <h2>what if I didn't?</h2>
  <p>The name of this blog comes from one of my favorite self-reflection questions of all time: what would happen if I didn't?</p>
  <p>This questions has led me to try the experiments you'll read about on this blog.</p>
  <p>Like: "What would I <em>really</em> miss out on if I didn't use my phone for a month?". Or: "What would happen if I took a month off from work and never checked my inbox?"</p>
  <h2>Digital detoxification and mindful living</h2>

  <p>In the archives, you'll find tips, hacks, and habits that'll help you regain control of your attention, set digital boundaries, get rid of digital FOMO, reconnect with yourself, create authentic relationships, and maximize your God-given potential.</p>
  <p>I hope you enjoy the blog. And if you'd like to connect, <a href="/contact/">drop me a message</a> and introduce yourself. It's always good to know there's someone on the other side of the screen.</p>
  <div class="text-center">
    <button class="btn btn-primary">
      <a href="/blog">See all posts</a>
    </button>
  </div>
</div>