---
layout: 'base.njk'
title: 'About - whatifididnt'
description: whatifididnt is a blog about uncommon lifestyles. Find the habits, hacks, and vibes that work for YOU. Advice on health, relationships, and mindset.
---

<div class="page-narrow">
  <h1>About</h1>

  <p>Welcome to whatifididnt, your one-stop destination for designing an intentional life. I write about digital minimalism, long-term travel, biohacking, and habits.</p>

  <p>My goal is to help you challenge your assumptions, shed disempowering thoughts and habits, and create a lifestyle founded on health, fulfillment, and abundance.</p>

  <p>I don't write regularly. So if you want to know when a new post comes out, sign up for my newsletter using the form at the bottom of this page.</p>
  <p>Otherwise, jump right in.</p>
  <div class="text-center">
    <button class="btn btn-primary">
      <a href="/blog">See all posts</a>
    </button>
  </div>
</div>