---
layout: 'base.njk'
title: 'About - whatifididnt'
description: whatifididnt is a blog about on uncommon lifestyles. Find the habits, hacks, and vibes that work for YOU. Advice on health, relationships, and mindset.
---

<div class="page-narrow">
  <h1>About</h1>

  <p>
whatifididnt is a blog about alternative lifestyles.</p>
  <p>Started in 2022, it is a popular destination for people looking to explore different ways of living.</p>
  <p>It features articles about everything from simple tweaks you can make to your life to completely transforming it. You'll also find interviews with people who have chosen interesting paths.</p>
  <p>whatifididnt is a safe space where you can pick and choose what works for you and design your dream lifestyle—without judgement.</p>
  <div class="text-center">
    <button class="btn btn-primary">
      <a href="/blog">See all posts</a>
    </button>
  </div>
</div>