---
layout: 'base.njk'
title: 'Blog - whatifididnt'
---
<div class="content">
  <h1>Blog</h1>
  <ul class="list-style-none">

    {%- for post in collections.post | reverse -%}
      {% include 'article-snippet.njk' %}
    {%- endfor -%}

  </ul>
  <br>
  <div class="well text-center">
    <p>
      <strong>Want to request an article? Have a story to share?</strong>
    </p>
    <p>
      💌 <a href="/contact">
        <strong>Drop us a note</strong>
      </a>
    </p>
  </div>
</div>