---
layout: 'base.njk'
title: 'Blog -  {{ site.name }}'
description: 
---

<div class="content wrapper">
	<h1>Blog</h1>
	<ul class="list-style-none">

		{%- for post in collections.post | reverse -%}
			{% include 'article-snippet.njk' %}
		{%- endfor -%}

	</ul>
</div>