---
layout: 'base.njk'
title: 'Blog - whatifididnt'
description: Tips, hacks, and habits that'll help you regain control of your attention, set digital boundaries, reconnect with yourself, and maximize your potential.
---

<div class="page wrapper wrapper--narrow">
  <h1 class="page__title">Blog</h1>
  <ul class="list-style-none">

    {%- for post in collections.post | reverse -%}
      {% include 'article-snippet.njk' %}
    {%- endfor -%}

  </ul>
</div>