---
layout: 'base.njk'
title: 'Contact  - whatifididnt'
description: Have a message to share? Use our contact form to submit your request. We'll get back to you soon.
---

<div class="page-narrow">
  <h1>Contact</h1>

  <form name="contact" method="POST" data-netlify="true">
    <p>
      <label>Your Name: <input type="text" name="name"/></label>
    </p>
    <p>
      <label>Your Email: <input type="email" name="email"/></label>
    </p>
    <p>
      <label>Message: <textarea name="message"></textarea>
      </label>
    </p>
    <p>
      <button class='btn btn-primary' type="submit">Send</button>
    </p>
  </form>

</div>