---
title: "Contact"
layout: "base.njk"
description: 
---

<div class="content wrapper flow">
  <h1>{{ title }}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam iusto nulla incidunt eveniet dignissimos maxime assumenda, accusamus explicabo voluptates ut.</p>
  <form name="contact" method="POST" data-netlify="true" class="form flow">
    <p>
      <label>Your Name: <input type="text" name="name"/></label>
    </p>
    <p>
      <label>Your Email: <input type="email" name="email"/></label>
    </p>
    <p>
      <label>Message: <textarea name="message"></textarea>
      </label>
    </p>
    <p>
      <a class='btn btn-primary' type="submit">Send</a>
    </p>
  </form>

</div>