---
layout: 'base.njk'
eleventyExcludeFromCollections: true
---
<div class="page wrapper wrapper--narrow flow">
  <h1>Thank you! </h1>

  <p>You will receive the very next newsletter.</p>

  <a class="btn btn-outline" href="/blog/">Back to the blog</a>

</div>