---
layout: 'base.njk'
title: 'Write for Us whatifididnt'
description: whatifididint explores digital detoxification & mindful living. Discover habits that will help you regain control of your attention & potential.
---

<div class="page-narrow">

  <h1>Write for Us</h1>

  <h2>What We're Looking For</h2>

  <p>whatifididnt is on the lookout for life hackers to produce tactical guides and how-to's for the blog.</p>

  <Produce>
    <strong>If you do something most would consider unusual or crazy</strong>, we want to hear from you. Produce a practical guide for whatifididnt and help hundreds of people improve their lives.</p>

  <p>Here are examples of topics that would fit well on our blog:</p>

  <ul>
    <li>Long-term fasting</li>
    <li>Digital detox</li>
    <li>DIY hygiene (eg. nopoo, essential oil fragrances, etc.)</li>
    <li>Minimalist fashion (eg. capsule wardrobe)</li>
    <li>Uncommon workout plans (eg. Occam's Protocol)</li>
  </ul>

  <h2>Requirements</h2>

  <p>Articles must be:</p>
  <ul>
    <li>
      <strong>Thorough:</strong> At least 1,500 words long</li>
    <li>
      <strong>Original:</strong> we will not publish something that's been published elsewhere</li>
    <li>
      <strong>Exclusive:</strong> you may not publish the article on someone else's blog without our written consent</li>
    <li>
      <strong>Readable:</strong> think headings, bullet points, easy English (9th grade level), and short paragraphs and sentences.</li>
    <li>
      <strong>Accurate:</strong> any claims must be backed by scientific evidence. If you're going to write that "sleeping upside down reduces blood pressure", include links to relevant studies from PubMed and other reliable sources.</li>
    <li>
      <strong>Tactical:</strong> Don't bore the reader with things they already know or don't care about. Get straight to the point and focus on delivering value.</li>
    <li>
      <strong>All you:</strong> we don't do accept AI content.</li>
  </ul>

  <h2>Why write for whatifididint</h2>

  <p>By writing for us, you're reaching over 2,000 readers each month. Plus, you'll get a link back to your own site or project. We can't pay you, but we can promise your work will be read and appreciated.</p>

  <h2>How to Get Started</h2>

  <p>Send your topic ideas for pre-approval to <a href="mailto:ben@whatifidnt.com">ben@whatifidnt.com</a>.</p>

  <p>Or, if you've already written something you know we will love, feel free to send it over with a profile photo and a short author bio.</p>

  <p>Publishing is not guaranteed. We review each post that comes in to decide whether it's the right fit for our blog. Either way, we will be in touch to let you know our decision so you may submit the article to another publication if it's not approved.</p>

</div>